language: python
sudo: false
python:
- '2.7'
matrix:
  allow_failures:
  - python: '2.6'
  - python: '3.4'
  - python: pypy
install:
- pip install -e .
- pip install flake8
- pip install nose
- pip install coveralls
script:
- flake8 package_name
- nosetests
after_success: coveralls
os:
- linux
# - osx
notifications:
  slack: labgcba:NXhen9KludVJgXx0Q2AClN23
